Binaries
DerivedDataCache
Intermediate
Saved

.vscode

.vs

*.VC.db

*.opensdf

*.opendb

*.sdf

*.sln

*.suo

*.xcodeproj

*.xcworkspace

Content/StarterContent/*
Content/InfinityBladeEffects/*
Content/InfinityBladeFireLands/*
Content/InfinityBladeGrassLands/*
Content/InfinityBladeIceLands/*
Content/InfinityBladeWeapons/*
Content/InfinityBladeWarriors/*
Content/ParagonProps/*
Content/ParagonShinbi/*
Content/KiteDemo/*
Content/SampleMap/*
Content/KiteDemo/*
Content/Props/*
Content/Particles/*
Content/Materials/*
Content/Textures/*
Content/Materials/*
Content/Maps/*
